.googleAutocomplete {
  position: relative;
  margin: 20px 0;
}

.addressInput {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  outline: none;
  border-bottom: 1px solid #d4d4d4;

}

.searchIcon {
  position: absolute;
  right: 0;
  bottom: 5px;
}
